.App {
  text-align: center;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data-fatch {
  display: grid;
  grid-template-columns: 18% 20% 20% 20% 20%;
  max-width: 80%;
  margin: 0 auto;
}
.data-fatch p {
  border: solid 1px #ddd;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.data-fatch p button {
  margin: 0 10px;
}

/* Login form */

.form-field h1 {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 30px;
}
.login-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-field {
  background-color: #ddd;
  padding: 30px;
  max-width: 320px;
  width: 100%;
  border-radius: 5px;
}
.action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
/* header */

.header-main .header {
  width: 100%;
  margin-bottom: 30px;
}
.header-logo {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}
.header-logo img {
  width: 100%;
}
.header-navigation-btn ul,
.header-navigation-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#orange-btn {
  background-color: #ff8b41;
  min-width: 150px;
  border: solid 2px #af500b;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
.orange-btn:focus,
.orange-btn:hover,
#orange-btn:focus,
#orange-btn:hover{
 background-color: #af500b !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}

/* Tournaments details */

.details-left-btn #orange-btn {
  width: 100%;
  margin-bottom: 30px;
} 
#yello-btn {
  background-color: #ffc531;
  min-width: 150px;
  border: solid 2px #bd8c1c;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#yello-btn:focus,
#yello-btn:hover{
 background-color: #bd8c1c !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
ul.btn-row {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: right;
}
.tournamnets-details-main ul.btn-row {
  text-align: left;
}
#blue-btn {
  background-color: #85c9e1;
  min-width: 150px;
  border: solid 2px #308eb5;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#blue-btn:focus,
#blue-btn:hover{
 background-color: #308eb5 !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
#purple-btn{
  background-color: #bd62ce;
  min-width: 150px;
  border: solid 2px #360040;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#purple-btn:focus,
#purple-btn:hover{
 background-color: #360040 !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
#red-btn{
  background-color: #d1444c;
  min-width: 150px;
  border: solid 2px #7d2024;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#purple-btn:focus,
#purple-btn:hover{
 background-color: #7d2024 !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
#pink-btn{
  background-color: #ffa1b4;
  min-width: 150px;
  border: solid 2px #c66d82;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#pink-btn:focus,
#pink-btn:hover{
 background-color: #c66d82 !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
#green-btn{
  background-color: #5aac62;
  min-width: 150px;
  border: solid 2px #38833f;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
}
#green-btn:focus,
#green-btn:hover{
 background-color: #38833f !important;
 outline: none !important;
 box-shadow: none !important;
 color: #fff;
}
ul.btn-row li .blue-select {
  background-color: #85c9e1;
  width: 150px;
  border: solid 2px #308eb5;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  margin-right: 0 !important;
}
ul.btn-row li .blue-select:focus,
ul.btn-row li .blue-select:hover {
  background-color: #308eb5 !important;
  outline: none !important;
  box-shadow: none !important;
  color: #000;
}
.yello-value {
  background-color: #ffc531;
  min-width: 150px;
  border: solid 2px #bd8c1c;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
}
.purple-value{
  background-color: #bd62ce;
  min-width: 150px;
  border: solid 2px #360040;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
}
#blue-input {
  background-color: #85c9e1;
  width: 150px;
  border: solid 2px #308eb5;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  text-align: center;
}
#blue-input {
  background-color: #85c9e1;
  width: 150px;
  border: solid 2px #308eb5;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  text-align: center;
}
#blue-input::placeholder {
  color: #000;
}
.tournament-details-table table tbody tr td {
  vertical-align: middle;
}

/* transaction */

.transaction-feild {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ddd;
  border-radius: 5px;
}
.back-type-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
input.date-input {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none;
  border-radius: 4px;
}
input.input-text {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none;
  border-radius: 4px;
}
textarea.textarea-text {
  display: inline-block;
  width: 100%;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none;
  border-radius: 4px;
}
.transaction-main ul.btn-row li .blue-select,
.transaction-main #blue-input {
  width: inherit;
  min-width: 150px;
}
ul.btn-row li textarea {
  background-color: #85c9e1;
  border: solid 2px #308eb5;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  width: 90%;
  padding: 0 10px;
}

/* tournaments overview */

.overview-search {
  margin-top: 30px;
}
.overview-search form.form-inline input.form-control {
  width: 68%;
}
.tournament-details-table table thead tr th {
  font-size: 13px;
  vertical-align: middle;
  padding: 8px;
}
.tournament-details-table table tbody tr td {
  vertical-align: middle;
  font-size: 13px;
  padding: 10px;
}
.subtotale-box {
  margin-top: 30px;
}
.subtotale-box ul {
  margin: 0;
  list-style: none;
  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
}
.subtotale-box ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000;
}
.subtotale-box ul li.deducation-text {
  border-bottom: dotted 1px #000;
  padding-bottom: 15px;
}
.add-deducation-btn {
  margin: 30px 0;
}
.login-form .action-btn #orange-btn {
  min-width: 110px;
}

/* Account */

.account-name-details ul.btn-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account-name-details ul.btn-row li {
  margin-bottom: 10px;
}
.account-name-details ul.btn-row li span {
  padding: 0 10px;
}
.account-deposit-btn ul.btn-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.magenta-value {
  background-color: #a8647b;
  min-width: 150px;
  border: solid 2px #3e0011;
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  height: 40px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
}
.account-overview-page-main .overview-search {
  margin-bottom: 30px;
}
.redColor {
  color: red;
}
.tournamnets-details-main ul.btn-row li span.lable {
  display: block;
  font-size: 14px;
}
.account-main .overview-search {
  margin-bottom: 30px;
}
.orange-btn {
  background-color: #ff8b41;
  min-width: 150px;
  border: solid 2px #af500b;
  border-radius: 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  text-align: center;
} 
.account-details-list ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
}
.account-details-list ul li {
  padding: 6px 10px;
  background-color: #ddd;
  color: #000;
  margin-bottom: 4px;
  text-align: center;
  list-style: none;
}